/**
 * {{title}} Block Styles
 *
 * @package {{theme_slug}}
 */

.wp-block-{{theme_slug}}-{{name}} {
	/* Add your block styles here */
}

.wp-block-{{theme_slug}}-{{name}} .block-content {
	/* Content wrapper styles */
}

/* Preview mode styles */
.wp-block-{{theme_slug}}-{{name}} .block-preview {
	padding: 2rem;
	background: #f0f0f0;
	border: 2px dashed #ccc;
	text-align: center;
}
